.header_img{
    width: 75px;
}

.bloc {
    position: absolute;
    background-color: grey;
    width: 300px;
    height: 300px;
    margin-left: 0em;
  }
    
  .bloc::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
    
  .bloc .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }

.divForm{
  margin-left: 38%;
}