{% extends 'base.html.twig' %}

{% block title %}Acceuil | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <p>Date du jour : {{ "now"|date('j/m/Y') }}</p>
            <p>Participant : {# {{ app.user.username }} #}</p>
        </div>
    </div>
    <div class="container">

    </div>
    <div class="container">

    </div>

{% endblock %}
